@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=VT323&display=swap');
@import "tailwindcss";

body {
  overflow-x: hidden;
}

.vt323 {
  font-family: "VT323", monospace;
  font-weight: 400;
  font-style: normal;
}

.outfit {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}


* {
  color: white;
}